body {
  font-size: 20px;
}

.button {
	background-color: #dcdcdc;
	color: black;
	padding: 10px 20px;
  display: inline-block;
  margin: 5px;
	cursor: pointer;
	font-size: 19px;
  border-radius: 5%;
  outline: none;
  border: none;
  text-decoration: none;
}

.info{
  background-color: #008CBA;
  color: white;
  border-radius: 8px;
  margin: 2px;
}

.danger{
  background-color:#f44336;
  color: white;
  border-radius: 8px;
  margin: 2px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #39CCCC;
  color: black;
}

h2.heading{
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.search{
  text-align: center;
}

.search input[type="text"]{
  width: 80%;
  display: block;
  margin: 15% auto 20px auto;
  padding: 15px;
  font-size: 20px;
}

