button {
	background-color: #dcdcdc;
	color: black;
	padding: 10px 20px;
  display: inline-block;
  margin: 10px;
	border: 2px solid #c0c0c0;
	cursor: pointer;
  width: 25%;
	font-size: 18px;
	
  border-radius: 5%;
}

button:hover {
	opacity: 0.8;
}

#button_block{
  text-align: left;
  box-sizing: border-box;
  width: 40%;
} 

body{
  background: #F0FFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #39CCCC;
  color: black;
}

.overview h2{
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.search{
  text-align: center;
}

.search input[type="text"]{
  width: 80%;
  display: block;
  margin: 15% auto 20px auto;
  padding: 15px;
  font-size: 20px;
}

