
/* Including css for the headers */

.header-img{
  background-image: url("https://images.unsplash.com/photo-1502485019198-a625bd53ceb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); 
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 480px;
}

.nav-container{
  position: absolute;
  width: 100%;
}

#heading{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 38%;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

/* --------------------------------------------- */


body{
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.6em;
}

#reg-form{
  background-color: whitesmoke;
  padding: 20px 40px;
  box-sizing: border-box;
}

fieldset{
  margin: 30px 10px;
}

#form-heading{
  text-align: center;
}


div.input-field{
  margin: 10px 0px;
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 95%;
  padding: 5px;
  margin: 0.5%;
  outline: none;
  box-sizing: border-box;
  width: 25%;
}

input[type='radio']{      /*increase the size of radio buttons*/
  height: 19px;
  width: 19px;
  margin: 5px;
}

/* -------------------Flex box styling-------------------- */

.input-field{
  display: flex;
}

.label-box{
  flex: 3.5 0 0;
  text-align: right;
  padding: 5px 10px;
  font-size: 22px;
  line-height: 1.6em;
}

.input-box{
  flex: 7 0 0;
  padding: 5px 10px;
}

.input-box input{
  padding: 5px;
  font-size: 20px;
  margin: 5px;
}

.input-box .single{
  width: 70%;
}

.input-box .double{
  width: 44%;
}

/* --------------------------Adjusting address input fields------------------------*/

#addr1, #addr2{
  width: 90%;
}

/* -----------------------------------Adusting HLA labels linke A, B, C---------------- */

.antigen{
  margin: 15px;
}

.antigen label{
  display: inline-block;
  width: 8%;
}

/* ---------------------------------------Custom error class----------------------------- */

.has-error{
  border: 1px solid #c51244;
  background-color: #fff0f4;
}

.help-block{
  color: #c51244;
  font-size: 18px;
  display: inline-block;
  width: 60%;
}

/* ------------passport image----------------- */

/* #pass-img img{
  width: 85%;
}

#pass-img input{
  display: none;
}

#pass-img{
  float: left;
  padding: 0;
  width: 15%;
  height: 15%;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

#pass-img:after{
  content: "Upload your image";
  display: block;
  clear: both;
}

/* ------------------------------------------- */

#next-btn, #prev-btn{
  background-color:  darkgrey;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

#btn-block{
  text-align: center;
  width: 65%;
  margin-left: 45%;
}

