body{
  background-image: url(../images/b4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} 

#loginBackground {
  background: mintcream;
  opacity: 0.7;
  border: 3px solid #f1f1f1;
  width: 30%;
  height: 50%;
  margin: auto;
  margin-top: 100px;
  padding: auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #39CCCC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container2 {
  padding: 16px;
} 
