body {
  background: #105469;
}

table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.6em .2em;
  text-align: center;
}

td {
  color: #fff;
  font-weight: 400;
  font-size: 1.35em;
  padding: 0.6em .2em;
  text-align: center;
}

.disabled td {
  color: #4F5F64;
}

.disabled td a {
  opacity: 0.5;
}

tbody tr {
  transition: "background 0.25s ease";
}

tbody tr:hover {
  background: #014055;
}
